<h2>Update the drone: {{name}}</h2>
<form action="/drones/{{id}}/edit" method="POST" class="form">
    
    <label for="name-input">Name:</label>
    <input type="text" name="name" value="{{name}}" id="name-input" />

    <label for="propellers-input">Propellers:</label>
    <input type="number" name="propellers" value="{{propellers}}" id="propellers-input" />

    <label for="maxspeed-input">Max Speed:</label>
    <input type="number" name="maxSpeed" value="{{maxSpeed}}" id="maxspeed-input" />

    <button type="submit" class="btn-green">Save</button>
</form>